.headerContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2a75bb;
  height: 10vh;
}

header {
  display: flex;
  align-items: center;
  color: #ffcb05;
  letter-spacing: 2px;
  word-spacing: 5px;
  font-size: 2em;
  flex-wrap: nowrap;
}

.pokemonImage {
  display: flex;
  align-items: center;
  margin: 0 10px;
  flex-shrink: 0;
}

.pokemonImage img {
  height: 100%;
  width: auto;
}

.headerText {
  margin: 0 20px;
  white-space: nowrap;
}

@media (max-width: 600px) {
  header {
    font-size: 1.5em;
  }
}
