.gameContainer {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5em;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
}

.pokemonCard {
  width: 12em;
  height: 12em;
  cursor: pointer;
  background-color: #2a75bb;
  color: #ffcb05;
  box-shadow: 0px 0px 15px 4px #c7a10891;
  border-radius: 4px;
  border: none;
}

.pokemonCard:hover {
  background-color: #3c5aa6;
}

.pokemonPicture {
  width: 100%;
  max-width: 8em;
  height: auto;
}

.pokemonCard:hover .pokemonPicture {
  animation: bounce 1s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-15px);
  }
  60% {
    transform: translateY(-8px);
  }
}

.pokemonName {
  text-transform: capitalize;
}
